@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  color: tomato;
}
.output {
  background: #eee;
  min-height: 500px;
  margin: 20px 0;
}

form {
  margin: 20px 0;
}
